*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgba(255, 255, 255, 0.391);
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.containertimeline{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(255, 255, 255, 0.129);
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}

.containertimeline:nth-child(1){
    animation-delay: 0s;
}
.containertimeline:nth-child(1):nth-child(2){
    animation-delay: 1s;
}
.containertimeline:nth-child(3){
    animation-delay: 2s;
}
.containertimeline:nth-child(4){
    animation-delay: 3s;
}
.containertimeline:nth-child(5){
    animation-delay: 4s;
}
.containertimeline:nth-child(6){
    animation-delay: 5s;
}


.text-box{
    padding: 20px 30px;
    background: rgb(235, 229, 229);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-containertimeline{
    left: 0;
}
.right-containertimeline{
    left: 50%;
}
.containertimeline img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-containertimeline img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #030202;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px
}
left-containertimeline-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #cc1919;
    right: -15px;
}
right-containertimeline-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(130, 12, 31);
    left: -15px;
}


@media screen and (max-width: 600px){

    .timeline{
        margin: 50px auto;
    }

.timeline::after{
    left: 31px;
}
.containertimeline{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
}
.text-box{
    font-size: 13px;
}
.text-box small{
    margin-bottom: 10px;
}
.right-containertimeline{
    left: 0;
}

.left-containertimeline img, .right-containertimeline img{
    left: 10px;
}

.left-containertimeline-arrow, .right-containertimeline-arrow{
    border-right: 15px solid #0b0707;
    border-left: 0;
    left: -15px;
}
}